* {
  margin: 0.1rem;
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  max-width: 900px;
  /* margin: auto; */
  padding: 1em;
  /* text-align: center; */
  font-size: 1.2rem;
}

button {
  min-width: 5em;
  font-size: inherit;
  /* white-space: nowrap; */
}

input, textarea, select {
  font-size: inherit;
  display: block;
  width: 100%;
}

button.reactionButton {
  min-width: 1em;
  /* width: min-content; */
  background-color: #ffffff00;
  border-width: 0;
}